html{
    padding-bottom: 2em;
}

body{
    box-sizing: border-box;
    background: #323232;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

#main h1{
    color: #fff;
    text-align: center;
}

li:hover {
    color: #4CAF50;
    cursor: pointer;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingText {
  color: #4CAF50;
  display: inline-block;
  margin-left: 8px;
  font-weight: 600;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
  margin-bottom: -1px
}
.bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4CAF50;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}


@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}